/* Import Inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

/* Apply Inter as the default font */
body {
    font-family: 'Inter', sans-serif;
    color: #E5E5E5; /* Adjust color if needed */
}

/* Apply SF Mono for monospaced elements */
code, pre {
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, monospace;
}

.bg-gs {
    background-color: #0d0d0d;
}

.icon {
    width: 24px;
    height: 24px;
    fill: currentColor;
}

.content-split {
    width: 42%;
}

.text-center {
    text-align: center;
}

.navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 0.5rem;
    --bs-navbar-color: rgba(255, 255, 255, 0.55);
    --bs-navbar-hover-color: rgba(255, 255, 255, 0.75);
    --bs-navbar-disabled-color: rgba(255, 255, 255, 0.25);
    --bs-navbar-active-color: #fff;
    --bs-navbar-brand-padding-y: 0.3125rem;
    --bs-navbar-brand-margin-end: 1rem;
    --bs-navbar-brand-font-size: 1.25rem;
    --bs-navbar-brand-color: #fff;
    --bs-navbar-brand-hover-color: #fff;
    --bs-navbar-nav-link-padding-x: 0.5rem;
    background-color: #333;
    font-family: 'Inter', sans-serif;
}

.navbar-brand {
    font-family: 'Inter', sans-serif;
}

.slider-container {
            width: 100%;
            overflow: hidden;
            position: relative;
            cursor: grab;
            margin: 20px 0;
        }

.slider {
display: flex;
transition: transform 0.3s ease;
 will-change: transform; /* Optimize for animations */
        }

        .slider img {
            width: var(--image-width);
            height: auto;
            margin-right: var(--image-spacing);
            border-radius: 10px;
            object-fit: cover;
            user-select: none; /* Prevent image selection while dragging */
        }

        .slider img:last-child {
            margin-right: 0;
        }

/* style.css */
.logo-image {
    width: 30%; /* Adjust as needed */
     /* height: 200%; Maintain aspect ratio */
}

.navbar-text {
    color: var(--bs-navbar-color);
}

.navbar-text a {
    color: var(--bs-navbar-active-color);
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.divider {
    border-top: 2px solid #ccc;
    margin: 10px 0;
}