/* Import Inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

/* Global Styles */
body {
    font-family: 'Inter', sans-serif;
    color: #E5E5E5;
    background-color: #0d0d0d; /* Applied globally */
}

.responsive-image {
    max-width: 100%; /* Ensure the image doesn't exceed its container's width */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove extra space below the image */
    margin: 0 auto; /* Center the image horizontally */
}